*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.space{
    width: 50px;
    height: 50px;
    position: relative;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    align-items: center;
}
.darkGreen{
    background-color: #11fe45;
}
.lightGreen{
    background-color: #51ff78;
}
.space img{
    width: 100%;
    height: 100%;
}
#dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
}
.snake.head{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#game{
    overflow: hidden;
}
#game.l1 .snake{
    background-color: #0d77c5;
}
.bodySnake{
    border-radius: 10px;
}
#game.l1 .bodySnake.p{
    background-color: #0d77c5;
}
#game.l1 .bodySnake.s{
    background-color: #0d99ff;
}
#game.l2 .snake{
    background-color: #ffa629;
}
#game.l2 .bodySnake.p{
    background-color: #ffa629;
}
#game.l2 .bodySnake.s{
    background-color: #ffcd29;
}
#game.l3 .snake{
    background-color: #3CB2BD;
}
#game.l3 .bodySnake.p{
    background-color: #3CB2BD;
}
#game.l3 .bodySnake.s{
    background-color: #4CE2F0;
}
#game.l4 .snake{
    background-color: #9546BD;
}
#game.l4 .bodySnake.p{
    background-color: #9546BD;
}
#game.l4 .bodySnake.s{
    background-color: #D8A2F2;
}
#game.l5 .snake{
    background-color: #EEB7B7;
}
#game.l5 .bodySnake.p{
    background-color: #EEB7B7;
}
#game.l5 .bodySnake.s{
    background-color: #F4E5E5;
}

.bodySnake{
    width: 50px;
    height: 50px;
}
.player{
    background-color: green;
}
.eye{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}
.toggleScreen{
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: orange;
    border-radius: 10px ;
    transition: .4s;
    padding: 0px 1px;
}
.button {
    width: 45px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: .4s;
}
body.dark .toggleScreen{
background-color: black;
justify-content: end;
}
body{
    background-color: #14ae5c;
    
}
.modal{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(000, 000, 000, 0.7);
    display: none;
    z-index: 1000;
    place-content: center;
}
.modal_body{
    height: 30vh;
    border-radius: 20px;
    padding: 5%;
    background-color: white;
}
.modal.show{
    display: grid;
}
body.dark{
    background-color: #0a2c1a;
    color: white;
}
body.dark .button{
    background-color: white;
}
body.dark .darkGreen{
    background-color: #1f522a;
}
body.dark .lightGreen{
    background-color: #478e57;
}